/* Cards */
.FlippyCard {
  width: 20vw;
  height: 50vh;
  min-height: 40vh;
  min-width: 20vw;
}

.FrontSide {
  background-color: #41669d;
  border-radius: 25px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.BackSide {
  background-color: #41669d;
  border-radius: 25px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.cardCnt {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.cdHdr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.unitHdr {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  justify-content: center;
}

.dependents-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  gap: 5px;
}

.unitImg {
  height: 120px;
}


.loader {
  position: absolute;
  top: 30%;
  left: 40%;
}

.loader-spinner {
  height: 300px;
}

.card-edit-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card-edit-input {
  border: none;
  border-radius: 50px;
  height: 2rem;
  width: 20rem;
  background-color: rgb(150, 159, 187);
  color: rgb(255, 255, 255);
}

.card-edit-dropdown {
  border: none;
  border-radius: 50px;
  height: 2rem;
  width: 5rem;
  background-color: rgb(150, 159, 187);
  color: rgb(255, 255, 255);
}

.career-field-emblem {
  min-height: 45px;
  max-height: 45px;
  background-color: rgb(34, 32, 32);
  clip-path: circle();
}
