/* Cards */
html {
  background-color: #fca311;
  background-image: url("../Images/BackDropOpacity.png");
  background-size: 100vw;
  margin-bottom: 10px;
}



.FlippyCard {
  width: 15vw;
  height: 50vh;
  min-height: 550px;
  min-width: 350px;
  max-height: 550px;
  max-width: 350px;
}

.FrontSide {
  background-image: url("../Images/CardFront.png");
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  box-shadow: 10px 10px 10px 0px black;
  color: white
}

.BackSide {
  background-image: url("../Images/CardBacks.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  box-shadow: 10px 10px 10px 0px black;
}

.cardCnt {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.cdHdr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 15px;
  height: 5pc;
  color: #fff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cdHdr img {
height: 3pc;
margin: 5px;
}

.cdHdr h4 {
flex-wrap: wrap;
width: 115px;
text-align: center;
}

.backbutton img {
  width: 50px;
  height: 50px;
  background: none;
  position: fixed;
  left: 150px;
  top: 225px;
  border: none;
  font-size: 25px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: burlywood;
}

.backbutton img:hover {
background-color: rgb(244, 238, 231);
}

.profile-picture {
  height: 250px;
  background-color: black;
  background-size: cover;
  border: 4px solid black;
  border-radius: 8px;
}

.duty-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px auto;
  background-color: rgba(159, 154, 154, 0.73);
  width: 70%;
  border-radius: 10px;
  border: 4px solid black;

}


.duty-info h4,
.duty-info p {
  margin: 2px 10px;
  color: #fff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  padding: 3px
}

.unitHdr {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  justify-content: center;
  color: white;
  -webkit-text-stroke: 1.5px black;
}

.dependents-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  gap: 5px;
}

.unitImg {
  height: 120px;
}


.loader {
  position: absolute;
  top: 30%;
  left: 40%;
}

.loader-spinner {
  height: 300px;
}

.cdHdr-edit-mode {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 5pc;
  margin: 0 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-edit-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0;
  align-items: center;
}

.card-edit-input {
  border: none;
  text-align: center;
  border-radius: 50px;
  height: 2rem;
  width: 10rem;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.card-edit-input:nth-child(5) {
  border: none;
  border-radius: 50px;
  height: 2em;
  width: 20em;
  padding: 5px;
  margin: 15px 0;
  background-color: rgb(255, 255, 255);
  color: rgb(1, 0, 0);
}

.card-edit-dropdown {
  border: none;
  border-radius: 50px;
  height: 2rem;
  width: 4rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: grey;
}

.edit-supv-label {
  margin: 10px;
  margin-bottom: 1px;
}

.card-edit-input-supv {
  border: none;
  border-radius: 50px;
  height: 2em;
  width: 20em;
  padding: 5px;
  margin: 15px 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.career-field-emblem {
  height: 50px;
  width: 30px;
  background-color: black;
  clip-path: circle();
  margin: 0;
  position: fixed;
  right: 67px;
  bottom: 140px;
}

.achievements-img {
  position: fixed;
 bottom: 40px;
 left: 160px;
}

.edit-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  height: 15px;
  padding: 5px;
}

.edit-button:hover {
 background-color: rgba(192, 188, 188, 0.486);
 border-radius: 50%;
}

.edit-save-button {
  position: absolute;
  border-radius: 50%;
  right: 20px;
  bottom: 10px;
  padding: 5px;
  background-color: rgba(159, 154, 154, 0.803);
  border: 2px solid black;
}


.edit-save-button:hover {
 background-color: rgba(192, 188, 188, 0.486);
 border-radius: 50%;
}

#file-select::file-selector-button {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 5px;
  background-color: rgb(185, 185, 185);
  width: 100px;
}

#file-select::file-selector-button:hover {
background-color: grey;
color: white;
}

.BackSide h3 {
  margin: 10px auto;
  color: rgb(255, 255, 255);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgba(159, 154, 154, 0.803);
  width: 80%;
  border: 4px solid black;
  border-radius: 10px;
  padding: 3px
}
.BackSideBox {
  margin: 40px auto ;
  color: rgb(255, 255, 255);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgba(159, 154, 154, 0.803);
  width: 80%;
  border: 4px solid black;
  border-radius: 8px;
  padding: 3px
}

.edit-background-BS {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 20%;
  background-color: rgba(159, 154, 154, 0.73);
  width: 80%;
  border-radius: 10px;
  border: 4px solid black;
  color: #fff;
}

.edit-background-BS p {
margin: 3px 0 10px 0 ;
}

.BackSide input[type="text"] {
  border-radius: 20px;
  margin: 10px 0;
  text-align: center;
  width: 18em;
  height: 3em;
}

.edit-background-BS h4 {
margin: 5px 0;
}

.family-cnt label {
  margin: 0 10px;
}