.top-nav-bar {
    position: fixed;
    background-color: #14213D;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.top-nav-left {
    display: flex;
    align-items: start;
    flex: 1;
    top: 0;
    position: absolute;
    left: 0;
}

.top-nav-middle {
    display: flex;
    align-items: start;
    flex: 1;
    top: 0;
    position: absolute;
    left: 80px;
    z-index: -998;
}

.top-nav-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 50px;
    gap: 20px;
    z-index: -999;
}

.user-picture {
    border-radius: 50%;
}

.top-nav-buffer {
    margin-top: 100px;
}

.toggle:focus {
    background-color: none;
}

.menu-bar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    position: relative;
}

.toggle {
    background-color: transparent !important;
}

/* Title style */

.title {
    background-size: cover;
    background-position: auto;
    height: 90px;
    width: 320px;
    margin: 0 25px;
    color: rgb(30, 45, 160);
    text-shadow: -1px -1px,
                 -2px -2px 1px rgb(79, 94, 209),
                 -3px -3px 3px  rgb(87, 101, 207),
                 -4px -4px 3px rgb(101, 115, 226),
                 -5px -5px 3px rgb(98, 111, 208),
                 -6px -2px 5px rgb(154, 163, 230);
    transform: rotateY(10deg);

}

.image-link {
    display: inline-block;
    z-index: 999;
  }
  
  .image-container { 
    line-height: 0; 
  }

.ant-menu{
    background: #14213D;
}