.flow-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    width: 100vw;
    margin-top: 11rem;
}

.flow-container-item {
    grid-column: 2;
    background-color: rgb(241, 232, 232);
    border-radius: 12px;
    border: 1px solid #c2c8d0;

}