:root {
  --c-text-primary: #191919;
  --c-text-secondary: #737374;
  --c-border-primary: #ccc;
  --c-bg-body: #FCA311;
  --c-bg-primary: #fff;
  --c-bg-secondary: #d4d8dd;
  --c-bg-button: #fff;
}
:root.dark-theme {
  --c-text-primary: #eee;
  --c-text-secondary: #d3d5db;
  --c-border-primary: #454545;
  --c-bg-body: #5e5e5e;
  --c-bg-primary: #323339;
  --c-bg-secondary: #222128;
  --c-bg-button: #494a50;
}

.menu-container {
  display: flex;
  font-family: sans-serif;
  line-height: 1.5;
  justify-content: start;
  margin-left: 10px;
  background-color: var(--c-bg-body);
  color: var(--c-text-primary);
  margin-top: 10px;
  column-gap: 10px;
  min-height: 337px;
}

.menu {
  background-color: var(--c-bg-primary);
  transition: background-color .30s ease;
  border-radius: 15px;
}

.menu-expanded {
  background-color: var(--c-bg-primary);
  transition: background-color .30s ease;
  border-radius: 15px;
  width: 50%;
}

/* header */
.menu-header {
  padding: 1rem;
}

.menu-header-title {
  font-size: 1.2rem;
  color: black;
  font-weight: 700;
}

/* theme switcher */
.theme-switcher input {
  display: none;
}

.theme-switcher {
  position: relative;
  background-color: var(--c-bg-secondary);
  border-radius: 10px;
  display: flex;
  padding: 0 3px;
}

.theme-switcher label {
  position: relative;
  z-index: 2;
  width: calc(100% / 2);
  color: var(--c-text-secondary);
}

.theme-switcher label span {
  padding: 8px 0;
  display: flex;
  justify-content: center;
  font-weight: 600;
  opacity: 0.8;
}

.theme-switcher label span:hover {
  opacity: 1;
  cursor: pointer;
}

.theme-switcher .slider {
  position: absolute;
  z-index: 1;
  width: calc((100% - 6px) / 2);
  top: 3px;
  transform: translatex(-110%);
  bottom: 3px;
  border-radius: 8px;
  transition: .30s ease, transform 0.25s ease-out;
  background-color: var(--c-bg-button);
}

.theme-switcher input:nth-of-type(1):checked ~ .slider {
  transform: translateX(0);
}
.theme-switcher input:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}

/* Menu body */
.menu-body {
  padding: 1rem;
  border-top: 1px solid var(--c-border-primary);
  transition: border-color .30s ease;
}

.menu-body button {
  text-decoration: none;
  color: inherit;
  display: flex;
  padding: 0.6rem 0.5rem;
  border-radius: 4px;
  font-weight: 500;
  transition: .30s ease;
  cursor: pointer;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: var(--c-border-primary);
  width: 100%;
  margin: 5px 0px;
}

.menu-body button:hover {
  background-color: var(--c-bg-secondary);
}

.changePassword {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.changePassword button {
  border: 1px black solid;
  border-radius: 5px;
  margin: 5px 0px;
  width: 60px;
}

.changePassword button:hover {
  opacity: 1;
  cursor: pointer;
}

.changePassword input {
  border: none;
  border-radius: 5px;
  background-color: var(--c-border-primary);
  width: 50%;
  height: 20px;
}

.change {
  display: flex;
  width: 50%;
  padding: 10px 0px;
  justify-content: end;
}

.feedback {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.feedback input {
  border: none;
  border-radius: 5px;
  background-color: var(--c-border-primary);
  margin: 5px 0px;
  width: 100%;
}

.inputHeader {
  height: 50px;
}

.inputBody {
  height: 100px;
}

.send {
  display: flex;
  justify-content: end;
}

.feedback button {
  border: 1px black solid;
  border-radius: 5px;
  margin: 5px 0px;
  width: 50px;
}

.feedback button:hover {
  opacity: 1;
  cursor: pointer;
}

.support {
  padding: 10px;
}