.signup-main {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signup-grid-container {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-column-gap: calc(var(--outer-padding) * 2);
  column-gap: calc(var(--outer-padding) * 2);
  padding: var(--outer-padding);
  min-height: 100vh;
  height: fit-content;
}

.signup-form-container {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  height: auto;
  width: 320px;
  white-space: normal;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  margin-top: 100px;
}

.signup-header {
  font-size: 24px;
  font-weight: 600;
  color: #2d333a;
  letter-spacing: 0;
  margin-bottom: 2rem;
}

.form-input-label {
  font-size: 12pt;
  font-weight: 400;
  color: #2d333a;
  letter-spacing: 0;
}

.signup-input {
  font-size: 16px;
  height: 3rem;
  width: 16rem;
  border-radius: 3px;
  padding: 0 16px;
  background-color: #fff;
  color: #2d333a;
  border: 1px solid #c2c8d0;
}

.signup-units-dropdown {
  height: 3rem;
  width: 18rem;
  border: 1px solid #c2c8d0;
  color: #2d333a;
  font-size: 16px;
}

.signup-button-container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 16px;
}

.signup-submit-button, .cancel-button {
    background-color: #6999e2;
    border-radius: 50px;
    height: 3rem;
    width: 20rem;
    color: #ffff;
    font-size: 16px;
    border: none; 
}

/* .onabording-prompt {
    flex: 1;
    display: flex;
    justify-content: left;
    text-align: left;
} */

.onboarding-prompt p {
    text-align: left;
    margin-left: 10px;
}

.onboarding-prompt a {
    text-decoration: none;
    color: #6999e2
}

.signup-footer {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    gap: 14px;
}

.signup-footer-login-button {
    background-color: transparent;
    border: none;
    margin-top: 4px;
    font-size: 10pt;
    font-weight: bolder;
    color: #6999e2;
    cursor: pointer;
}
